input, button {
    background: #353535;
    color: #e8e8e8;
}

code {
    background-color: #2a2a2a;
    color: #e8e8e8
}
p.small-text {
    font-size: 80%;
}
.readable {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}
.no-dot {
    list-style-type: none;
}
.no-indent {
    padding: 0;
    margin: 0;
}